

<div>
  <h1>My App</h1>
  <p>Value: {{ counter$ | async }}</p>
  <div>
    <button class="btn" (click)="clickAdd()" >+</button>
    <button class="btn" (click)="clickDecrease()" >-</button>
  </div>
  <hr />
  <div>
      <div>
        <input class="form-control" type="text" [(ngModel)]="newProduct" >
        <button class="btn" (click)="clickAddProduct()" >Add Product</button>
      </div>
      <div *ngFor="let product of products$ | async" >
          <div>
              <h5>{{product.name}}</h5>
              <p>id: {{product.id}}</p>
          </div>
      </div>
  </div>
</div>
<hr />


<router-outlet></router-outlet>
